h2,
h3,
h4 {
    text-align: center;
    padding-bottom: 6px;
}

main {
    margin: 2em 0em 3em;
}

#ContactoCliente,
#DatosTarjeta {
    margin: 2em 1.5em;
    padding: 1em 0.5em;
    border: 3px solid rgb(213, 141, 255);
    border-radius: 15px;
}

#ContactoCliente input,
#ContactoCliente textarea,
#DatosTarjeta input,
#DatosTarjeta select {
    border: 1px solid black;
}

.SeparadoDatos nav {
    margin: 1.5em;
}

#TipoDeEnvio{
    gap: 1em;
}

#DatosTarjeta nav {
    margin: 1em 1.5em 2em;
}

#ContenedorPrincipalMes_Anno {
    display: flex;
    justify-content: space-around;
    margin: 0em;
}

#ContenedorPrincipalMes_Anno div {
    margin: 0em;
}

.EspacioFechaVenc label {
    margin-bottom: 1em;
}


.DisennoBtnFinalizar {        
    border: 1px solid rgb(87,87,87);
    color: black;        
    transition: all 60ms linear;
}

.DisennoBtnFinalizar:hover {        
    background-image: linear-gradient(rgb(163, 255, 127), rgb(26, 206, 9));
    border: 2px solid rgb(87, 87, 87);
    color: black;
    font-weight: bold;
}

#ButtonFinalizar {
    margin: 2em 2em;
    text-align: center;
}





@media (width >=992px) {
    #ContenedorPrincipal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #ContactoCliente {
        margin-left: 2em;
    }

    #DatosTarjeta {
        margin-right: 2em;
    }

    #ButtonFinalizar {        
        text-align: end;
    }

}