h1,
h2,
h3 {
    text-align: center;
    margin: 0.5em 0em 1em;
}

b, h6{
    color: rgb(89, 49, 150);
}

main img {
    width: 120px;
    height: auto;
}

#InfoEmpresa {
    text-align: center;
}

#InfoEmpresa,
#EncFactura,
#DetFactura,
#TotalDet {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.EstiloFactura {
    border: 1px solid black;
    margin: 2em 1.5em;
    box-shadow: 0px 0px 20px 2px rgb(131, 131, 131);
}

.EstiloFactura h1 {
    margin-bottom: 1em;
}

.EstiloFactura div {
    padding: 1.5em;
}

.FlexDetalle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    text-align: center;
}

#Total {
    font-size: larger;
    text-align: center;
}

#ResumemDet p {
    text-align: center;
}

#VolverInicio {
    text-align: center;
    margin: 3em 0em 2em;
}

.ButtonInicio {
    color: black;
    border: 1px solid rgb(122, 122, 122);
    font-weight: bold;
}

.ButtonInicio:hover {
    background-color: rgb(193, 153, 237);
    color: black;
    border: 2px solid rgb(122, 122, 122);
    font-weight: bold;
}


@media (width >=992px) {

    #Factura {
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #InfoEmpresa {
        display: flex;
        justify-content: space-between;
    }

    #InfoEmpresa h3,
    #InfoEmpresa p {
        text-align: right;
    }

    #InfoEmpresa img {
        width: 130px;
        height: auto;
    }

    #EncFactura{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1em;
    }

    #Total {
        font-size: x-large;
        text-align: center;
    }

    #VolverInicio {
        text-align: center;
        margin: 3em 0em;
    }
}