main nav {
    margin: 1em 1em;
    margin-bottom: 1em;
}

/* ----------------------------------------------------------------- */

#SelectoresContainer{
    display: grid;    
    grid-template-columns: repeat(2,1fr);    
}

#SelecCategorias label,
#SelecIdioma label {
    margin-bottom: 0.5em;
}

#SelecCategorias select,
#SelecIdioma select {
    border: 1px solid rgb(0, 0, 0);    
}

/* ----------------------------------------------------------------- */

.Caja_Cards_Princ {
    width: 100%;
    height: auto;
}

.Caja_Cards_Princ h3 {
    text-align: center;
    padding-top: 1%;
}

.Caja_Cards_Body button {
    width: 100%;
    margin-bottom: 3%;
}

.Caja_Cards_Body p {
    text-align: center;
    font-size: 27px;
}

/* ----------------------------------------------------------------- */

.Button_Detalle,
.Button_Compra {
    border: 2px solid rgb(122, 122, 122);
    transition: all 100ms linear;
}

.Button_Detalle:hover {
    background-color: rgb(89, 49, 150);
    color: white;
    font-weight: bold;
}

.Button_Compra:hover {
    background-color: rgb(3, 200, 52);
    color: black;
    font-weight: bold;
}

/* ----------------------------------------------------------------- */

#ContenedorTitulo{
    width: 100%; 
    min-height: 6em;
    max-height: 6em;
    border: 1px solid rgb(65, 65, 65);    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#ContenedorImagen{
    width: 100%;
    max-height: 500px;     
    border: 1px solid rgb(65, 65, 65); 
}

#ContenedorImagen img{
    width: 100%;
    height: 500px;
}

#ContenedorCompras{
    width: 100%;       
    border: 1px solid rgb(65, 65, 65); 
}

/* ----------------------------------------------------------------- */

@media (width <= 992px) {
    main nav {
        margin: 1em 1em;
        margin-bottom: 1em;
    }

    #ImagenLibro {
        width: 100%;
        height: 500px;
    }

    #SelectoresContainer{
     display: block;   
    }
}