.titulo{
    /* text-align: center; */
    margin: 2.5% 1em;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.contenedor .info{
    flex-shrink: 1;
    margin: 2rem 2.5%;
    box-shadow: 2px 1px 5px rgb(82, 79, 79);
}

.Icono{
    text-align: center;
}

@media(width >= 992px){

    .contenedor{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .contenedor .info{
        max-width: 30%;
    }

    .titulo{
        text-align: center;
    }

}