.contenedor-form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(https://wallpapers.com/images/hd/anime-collage-aesthetic-ictg913y1mtjrgku.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2em 5%;
}

.caja-rdb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.info {
    padding: 1.5em 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info h3{
    padding-bottom: 0.5em;
}

.info h3, .info h4 {
    text-align: center;
    color: white;
    font-size: xx-large;
}

.info p{
    text-align: center;
    font-size: 1.4em;
}

.mapa {
    padding: 3em 0em;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.mapa h3, .mapa h4 {
    text-align: center;
    color: white;
    font-size: xx-large;    
}

#map {
    height: 20em;
}

#Formulario h3 {
    text-align: center;
    font-size: xx-large;
}


@media(width >=992px) {

    .formulario {
        width: 50%;        
    }

    #map {
        height: 40em;
        width: 100%;
    }

}